<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.shop.mapper.ReviewMapper">
  
  	<select id="getOptions" parameterType="int" resultType="com.spring.shop.vo.Production">
  		select * from production 
		where pno in (select pno from procontain 
		 				where pbno=#{pbno} 
		 				)
  	</select>
  	
  	<select id="getReviewList" parameterType="int" resultType="com.spring.shop.vo.Review">
  		select * from review where pbno = #{pbno}
  		order by rdate desc 
  	</select>
  
  
  	<insert id="reviewWirte" parameterType="com.spring.shop.vo.Review" useGeneratedKeys="true">
  		<selectKey keyProperty="rno" resultType="int" order="AFTER" > 
  			SELECT seqrev.currval as rno FROM dual 
  		</selectKey>
  		insert into review values(seqrev.nextval, #{options}, #{writer}, #{content}, #{path}||seqrev.currval||'-'||#{writer}, #{stars}, #{qna}, sysdate, #{pbno})
  	</insert>
    
    
    <select id="getPath" parameterType="int" resultType="string">
    	select path from review where rno = #{rno}
    </select> 
  
  </mapper>